.t{
   margin: 50px 500px;
   border: 0;
}

body {
font-family: 'Raleway', sans-serif;
background: url("http://almode.ru/uploads/posts/2022-01/1642012328_20-almode-ru-p-otkritki-s-8-marta-s-pozdravleniyami-30.jpg");
padding: 30px 0;
background-position: center;

}